@import 'blocks/vars';
@import 'blocks/header';
@import 'blocks/hero';
@import 'blocks/bestmovie';
@import 'blocks/wanted';
@import 'blocks/news';
@import 'blocks/forum';
@import 'blocks/membership';
@import 'blocks/footer';
@import 'blocks/responsive-1280';
