@import 'vars';
@media (max-width:1600px)
{
  body {
padding-top:20px;
background-position: 130% 0%, 0% 24%, 0% 73%, 0% 89%;
  }
  .news {
    &__feature-img {

    width: 130%;
  }
  &__feature {
    align-self: center;
  }
    &__grid {
    gap:100px;
  }
    &__item {
    padding-right: 70px;
  }
    &__excerpt
  {
    font-size: 20px;
  }
  &__header {
    gap:22%;
  }
  }
  .forum {
    &__card-excerpt {
      padding-bottom: 50px;
    }
    &__card-body-4 {
      padding-top: 20px;
      padding-bottom: 10px;
    }
  }

}
@media (max-width: 1280px) {
  body {
    padding-left: 40px;
    padding-right: 40px;
  }

  .header {
    grid-template-columns: 25% 45% 30%;
  }

  .nav {
    &__option a {
      font-size: 20px;
    }
  }

  .main {
    &__content {
      padding-bottom: 120px;
    }

    &__title {
      font-size: 64px;
      margin-bottom: 40px;
    }

    &__desc {
      font-size: 22px;
      margin-bottom: 50px;
    }

    &__cta {
      font-size: 26px;
      padding: 18px 44px;
    }
  }

  .best-movie {
    margin-bottom: 160px;

    &__title {
      font-size: 42px;
    }
  }

  .popular {
    &__card {
      justify-content: center;
      align-items: center;
      padding: 20px 0px 20px;
    }

    &__btn {
      font-size: 22px;
      width: 70%;
    }
        &__image {
      width: 80%;
         }
  }

  .wanted {
    padding-left: 24px;
    padding-right: 24px;

    &__title {
      font-size: 44px;
    }

    &__cards {
    grid-template-columns: repeat(3, 280px);
      gap: 20px;
    }

    &__btn {
      font-size: 22px;
      padding: 14px 42px;
    }
    &__poster {
      width: 90%;
    }
    &__card {
      display: flex;
      justify-content: center;
    }
  }

  .news {
    margin-bottom: 220px;

    &__header {
      gap: 37%;
    }

    &__title {
      font-size: 44px;
    }
    &__thumb {
      width: 30%;
    }
    &__grid {
      grid-template-columns: 423px 1fr;
      gap: 48px;
      max-width: 100%;
    }

    &__feature {
      align-items: center;
      align-self: center;
      margin-right: 0;
    }
    &__feature-img {
      width: 100%;
      align-self: center;
    }
    &__link {
      font-size: 26px;
    }
    &__excerpt {
      line-height: 120%;
    }
      &__excerp {
      line-height: 120%;
      font-size: 20px;
    }
  }

  .forum-section {
    margin-bottom: 40px;
  }

  .forum {
    &__header {
      margin-bottom: 100px;
    }

    &__title {
      font-size: 44px;
    }

    &__grid-top,
    &__grid-bottom {
      grid-template-columns: 1fr 1fr;
      gap: 24px;
    }

    &__card {
      grid-template-columns: 320px 1fr;
      &-title {
        font-size: 17px;
      }
    }
    &__card-excerpt {
      font-size: 16px;
      padding-bottom: 15px;
      padding-right: 10px;
      &-2 {
        padding-bottom: 25px;
      }
    }
    &__card-media img {
      width: 80%;
    }
        &__card-media img {
      width: 80%;
    }
    &__card-body {
      padding-bottom: 15px;
      padding-top: 25px;
    }
  }

  .membership {
    &__text {
      font-size: 22px;
      max-width: 640px;
    }

    &__form {
      max-width: 52rem;
    }

    &__btn {
      width: 14rem;
      font-size: 22px;
      padding: 20px 28px;
    }
  }

  .footer {
    &__logo-img {
      width: 210px;
      height: auto;
    }

    &__nav-list {
      gap: 4rem;
    }

    &__nav-item a {
      font-size: 1.25rem;
    }
  }
}

@media (max-width: 992px) {
  body {
    padding-left: 24px;
    padding-right: 24px;
    background-position: 350% 0%, 0% 24%, 0% 73%, 0% 89%;
  }

  .header {
    text-align: center;
    &__logo {
      width: 70%;
    }
  }

  .logo {
    margin: 0 auto;
  }

  .nav {
    flex-direction: column;
    align-items: center;

    &__list {
      gap: 36px;
    }

    &__option a {
      font-size: 18px;
    }
    &__img1{
      width: 26px;
      height: 27px;
    }
    &__img {
      width: 26px;
      height: 29px;
    }
  }
.popular {
  &__card {
    width: 60%;
  }
}
  .main {
    flex-direction: column;
    align-items: flex-start;

    &__content {
      padding-bottom: 80px;
    }

    &__title {
      font-size: 46px;
      margin-bottom: 32px;
    }

    &__desc {
      font-size: 20px;
      margin-bottom: 40px;
    }

    &__cta {
      font-size: 22px;
      padding: 16px 36px;
    }
  }

  .best-movie {
    margin-bottom: 120px;

    &__title {
      font-size: 33px;
    }
  }


  .popular__btn {
    font-size: 20px;
  }

  .wanted {
    padding-left: 16px;
    padding-right: 16px;
    &__poster {
      width:80%;
    }
    &__title {
      font-size: 38px;
      text-align: left;
    }

    &__cards {
      grid-template-columns: repeat(2, 240px);
      gap: 16px;
    }
  }

  .news {
    &__feature-media {
      justify-self: start;
      width: 70%;
    }
    &__grid {
    flex-direction: column;
    justify-content: flex-start;
    }
    margin-bottom: 60px;
    &__title {
      font-size: 38px;
    }

    &__header {
      gap: 30%;
    }
    &__excerp {
      line-height: 120%;
      font-size: 20px;
    }
        &__feature-img {
      width: 100%;
      align-self: flex-start;
    }
    &__thumb {
      width: 20%;
    }
  }

  .forum {
    &__header {
      font-size: 80%;
      margin-bottom: 40px;
    }

    &__grid-top,
    &__grid-bottom {
      grid-template-columns: 1fr;
      margin-bottom: 40px;
    }
    &__card-body-2
    {
      padding-bottom: 10px;
    }

  }
  .forum-section {
    margin-bottom: 100px;
  }
  .membership {
    &__text {
      font-size: 20px;
    }

    &__form {
      flex-direction: row;
      max-width: 100%;
    }

    &__btn {
      width: auto;
      font-size: 20px;
      padding: 18px 24px;
    }
    &__input {
      flex:0;
    }
  }

  .footer {

    &__nav-list {
      gap: 2.5rem;
    }

    &__nav-item a {
      font-size: 1.1rem;
    }
  }
}
@media (max-width:768px) 
{
  body {

    background-position: -10% 0%, 0% 24%, 0% 73%, 0% 89%;
  }
  .nav {
    &__list {
      display: none;
    }
    &__vector {
      display: none;
    }
  }
  .nav__burger {
    display: flex;
  }

  .main {
    &__title {
      font-size: 30px;

    }
    &__desc {
      font-size: 16px;
    }
    &__cta {
      font-size:17px;

    }
  }

  .news {
    &__header {
      gap:20%
    }

  }
  .wanted {
    &__poster {
      width: 80%;
    }
        &__cards {
      grid-template-columns:250px;
      gap: 16px;
    }
    &__inner {
      margin-bottom: 140px;
    }
  }
}

@media (max-width:480px){
    body {
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    background-position: -20% 0%, 0% 24%, 0% 73%, 0% 89%;
  }
    .nav {
    &__list {
      display: none;
    }
    &__vector {
      display: none;
    }
  }

  .best-movie {
    margin-bottom: 50px;
    &__title {
      font-size: 26px;
    }
  }
  .popular {
    &__image {
      width: 100%;
    }
  &__btn {
    width: 50%;
    font-size: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    }
    &__card {
      padding: 20px 20px ;
    }
  }

  .wanted {
    &__title{
      font-size: 25px;
    }
    &__cards {
      grid-template-columns: 0.6fr;
    }
    &__btn {
      margin-bottom: 15px;
      font-size: 15px
    }
    &__poster {
      padding-top: 10px;
      margin-bottom: 10px;
    }
    &__full__list {
      font-size: 15px;
    }
  }
  .news {
    &__title {
      font-size: 20px;
    }
    &__all {
      font-size: 12px;
    }
    &__link {
      font-size: 20px;
    }
        &__lin{
      font-size: 20px;
    }
    &__excerpt {
      line-height: 100%;
      font-size: 14px;
    }
        &__excerp {
      line-height: 100%;
      font-size: 14px;
    }
    &__thumb {
      width: 20%;
    }
    &__item {
      padding: 0;
    }
  }
  .forum {
    &__title {
      font-size: 25px;
    }
    &__all {
      font-size: 18px;
    }
    &__cardd {
      grid-template-columns: 0px 1fr;
      height: 200px;
    }
    &__card {
      grid-template-columns: 0px 1fr;
      height: 200px;
      
      &-title {
        font-size: 18px;
        &-2{
          font-size: 18px;
        }
        &-3 {
          font-size: 18px;
        }
        &-4 {
          font-size: 18px;
        }
      }
      &-excerpt {
        font-size: 15px;
        &-2 {
          font-size: 15px;
          padding-bottom: 15px;
        }
        &-3 {
          font-size: 15px;
          padding-bottom: 15px;
        }
        &-4 {
          font-size: 15px;
          padding-bottom: 15px;
        }
      }
      &-more {
        font-size: 15px;
      }
      &-body-2 {
        padding-top: 20px;
        padding-left: 5px;
      }
      &-body-3 {
        padding-top: 20px;
        padding-left: 5px;
      }
      
    }
  }
  .membership {
    &__text {
      font-size: 13px;
    }
    &__input {
      padding: 5px 5px;
      font-size: 15px;
    }
    &__disclaimer {
      font-size: 12px;
    }
  }
  .footer {
    &__logo-img {
      width: 40%;
    }
  }

}

@media (max-width:320px)
{
  .main {
    &__title {
      font-size: 20px;
    }
    &__desc {
      font-size: 12px;
      margin-bottom: 50px;
    }

    &__cta {
      font-size:  10px;
      padding: 10px 15px;
    }
  }
  .best-movie {
    &__title {
      font-size: 15px;
    }
  }
  .popular {
    &__image {
      width: 100%;
    }
  &__btn {
    width: 50%;
    font-size: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
    }
    &__card {
      padding: 20px 20px ;
    }
  }

  .wanted {
    &__title{
      font-size: 20px;
    }
    &__cards {
      grid-template-columns: 0.6fr;
    }
    &__btn {
      margin-bottom: 5px;
      font-size: 10px;
      padding: 10px 10px;
    }
    &__poster {
      padding-top: 10px;
      margin-bottom: 10px;
    }
    &__full__list {
      font-size: 10px;
    }
  }
  .news {
    &__item {
      padding-right: 5px;
    }
    &__title {
      font-size: 16px;
    }
    &__all {
      font-size: 8px;
    }
    &__link {
      font-size: 14px;
    }
    &__excerpt {
      font-size: 12px;
    }
    &__thumb {
      width: 30%;
    }
    &__header {
      gap:60%
    }
  }
  .forum {
    &__title {
      font-size: 15px;
    }
    &__all {
      font-size: 12px;
    }
    &__card {
      grid-template-columns: 0px 1fr;
      &-title {
        font-size: 18px;
        &-2{
          font-size: 18px;
        }
      }
      &-excerpt {
        font-size: 15px;
        &-2 {
          font-size: 15px;
          padding-bottom: 15px;
        }
      }
      &-more {
        font-size: 15px;
      }
      &-body-2 {
        padding-top: 20px;
        padding-left: 5px;
      }
      
    }
  }
  .membership {
    &__text {
      font-size: 13px;
    }
    &__input {
      padding: 5px 5px;
      font-size: 15px;
    }
    &__disclaimer {
      font-size: 12px;
    }
    &__btn {
      font-size: 8px;
    }
  }
  .footer {
    &__logo-img {
      width: 40%;
    }
  }

}


