@import 'vars';

.footer {
  margin-right: 0px;
  margin-left: 0px;
  background-color: $color-primary;
  margin-bottom: 30px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__nav-list {
    display: flex;
    gap: 112px;
    list-style: none;
    align-items: center;
  }

  &__nav-item a {
    text-decoration: none;
    color: $color-white;
    font-size: 1.56rem;
    transition: color $transition-base;

    &:hover {
      color: $color-secondary;
    }
  }
}
