@import 'vars';
body {
  font-family: $font-medium;
  background-color: $color-primary;
  color: $color-white;
  padding-top: 25px;
  padding-left: 116px;
  padding-right: 122px;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-image: url('img/Frame\ 138.png'), url('img/Frame\ 137.png'), url('img/Vecto3r.png'), url('img/Vector324.png');
  background-position: 100% 0%, 0% 24%, 0% 74%, 0% 88%;
}

h2 {
  font-size: 50px;
}

.container {
  max-width: 1660px;
  margin: 0 auto;
}

.header {
  padding-bottom: 63px;
  display: grid;
  grid-template-columns: 31% 37% 33%;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 250px;
  height: 160px;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 118px;
    list-style: none;
  }

  &__option a {
    text-decoration: none;
    color: $color-white;
    font-size: 25px;
    transition: color $transition-base;

    &:hover {
      color: $color-secondary;
    }
  }

  &__vector {
    display: flex;
    justify-content: end;

    &:hover {
      cursor: pointer;
    }
  }

  &__img {
    width: auto
  }

  &__img1 {
    padding-right: 30px;
    width: auto
  }

  &__icons {
    display: flex;
    gap: 20px;

    img {
      width: 32px;
      height: 31px;
    }
  }
}

.nav_option a {
  text-decoration: none;
  color: $color-white;
  font-size: 25px;
  transition: color $transition-base;

  &:hover {
    color: $color-secondary;
  }
}
