@import 'vars';
.main {
  align-items: center;
  border-radius: 24px;

  &__content {
    margin-bottom: 194px;
  }

  &__title {
    margin: 0px;
    padding-bottom: 45px;
    font-family: $font-bold;
    font-size: 80px;
  }

  &__desc {
    font-family: $font-medium;
    font-size: 25px;
    line-height: 130%;
    margin: 0px;
    padding-bottom:60px;
  }

  &__cta {
    text-decoration: none;
    padding: 24px 56px;
    background-color: $color-secondary;
    color: $color-primary;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    font-family:  $font-bold;

    &:hover {
      transition: 0.5s;
      background: $color-accent-hover;
      transform: translateY(-1px);
      color:$color-primary-hover ;
      box-shadow: 0 10px 14px rgba(144, 119, 175, 0.25);
    }
  }
  
}