@import 'vars';

.news {
  margin-bottom: 305px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

  &__title {
    margin-bottom: 48px;
    font-size: 50px;
    font-weight: 700;
    color: $color-text-light;
    padding-left: 15px;
  }

  &__grid {
    display: flex;
    gap: 80px;
    justify-content: space-between;

  }

  &__feature {
    border-radius: 10px;
    padding-right: 25px;
    align-self:end;

    &-img {

      border-radius: 20px;
    }

    &-title {
      color: $color-white;
      font-size: 30px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    gap: 14px;
    align-items: flex-start;
    line-height: 200%;
    padding-bottom: 20px;
    border-radius: 10px;
    &:nth-of-type(2) {
      padding-bottom: 10px;
    }
    &:last-of-type  {
      padding-bottom: 0px;
    }
  }

  &__thumb {
    border-radius: 20px;
  }

  &__all {
    font-size: 20px;
    color: $color-white;
  }

  &__link {
    font-family: $font-bold;
    font-weight: 600;
    color: #EEF1FF;
    font-size: 30px;
    padding-left: 5px;
  }
  &__lin {
     font-family: $font-bold;
    font-weight: 600;
    color: #EEF1FF;
    font-size: 30px;
    padding-left: 15px;
  }

  &__excerpt {
    font-family: $font-medium;
    font-size: 25px;
    margin-top: 15px;
    padding-left: 3px;
    margin-bottom: 0px;
    color: $color-text-gray;
  }
  &__excerp {
    font-family: $font-medium;
    font-size: 25px;
    margin-top: 15px;
    padding-left: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: $color-text-gray;
  }
}
