@import 'vars';

.wanted {
  padding-right: 30px;
  padding-left: 38px;

  &__inner {
    padding-bottom: 225px;
  }

  &__title {
    font-family: $font-bold;
    text-align: right;
    font-size: 50px;
    margin: 0px;
    padding-bottom:  40px ;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 420px);
    justify-content: center;
    gap: 20px;
    padding-bottom: 40px;
  }

  &__card {
    background: $color-primary;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0px 20px 5px rgba(201, 201, 201, 0.20);
    
  }

  &__poster {
    padding-top: 30px;
    margin-bottom: 26px;

    img {
      border-radius: 30px;
      justify-items: center;
      align-items: center;
      justify-content: center;
    }
  }

  &__full__list {
    display: flex;
    justify-content: flex-end;
    color: $color-white;
    font-size: 20px;
    margin-right: -5px;
  }

  &__btn {
    font-family: $font-bold;
    font-size: 25px;
    align-self: center;
    background: $color-secondary;
    color: $color-primary;
    border-radius: 5px;
    padding: 17.75px 94.5px 17.25px 95.87px;
    margin-bottom: 35px;
    cursor: pointer;
    transition: transform $transition-card, box-shadow $transition-card;
    box-shadow: 0 6px 18px rgba(124, 115, 255, 0.18), inset 0 -2px 2px rgba(0, 0, 0, 0.12);

    &:hover {
      color:$color-primary-hover;
      transform: translateY(-2px);
      box-shadow: 0 10px 14px rgba(144, 119, 175, 0.25);
    }
  }
}

.watch__btn:hover {
  background-color: $color-accent;
  transform: translateY(-2px);
  box-shadow: 0 10px 14px rgba(144, 119, 175, 0.25);
}

.full__list {
  color: $color-white;
  text-decoration: underline;
  float: right;
  font-size: 20px;
  &:hover {
    color: $color-accent;
  }

}

.container__header {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}